#myCarouselWatches{
    display: flex;
    width: 100%;
    height: 90vh;
}
#myCarouselWatches img{
    width: 100%;
    height: auto;
    max-height: 90vh;

}
.carousel-inner h5{
    color: white;
    font-size: 48px;
}
.carousel-inner p{
    color: white;
    font-size: 18px;
}

